<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <ng-container *ngIf="ready; else loading">
        <div class="row mb-3">
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToMeetingAgenda()">
              <i class="fa fa-arrow-left"></i>
              {{meetingAgenda.name}}
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToEditItem()">
              <i class="fa fa-pencil"></i>
              Edit
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToAddAgendaItem()">
              <i class="fa fa-plus"></i>
              Add another Agenda Item
            </button>
          </div>
        </div>
        <h1 class="text-center mb-3">
          {{agendaItem.name}}
        </h1>
        <div class="row">
          <div class="col-md-6" id="details">
            <table class="table">
              <tbody>
              <tr>
                <td>Meeting</td>
                <td>
                  {{meetingAgenda.name}}
                  <br>{{meetingAgenda.time}}
                  <br>{{meetingAgenda.place}}
                </td>
              </tr>
              <tr>
                <td>Section</td>
                <td>{{agendaItem.section}}</td>
              </tr>
              <tr>
                <td>City text</td>
                <td>
                  <app-quill-view-default [content]="agendaItem.cityText"></app-quill-view-default>
                </td>
              </tr>
              <tr>
                <td>Our text</td>
                <td>
                  <app-quill-view-default [content]="agendaItem.ourText"></app-quill-view-default>
                </td>
              </tr>
              <tr>
                <td>Our priority</td>
                <td>{{agendaItem.ourPriority}}</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>
                  <span class="badge badge-info mr-2" *ngFor="let tag of agendaItem.tags">
                    {{tag}}
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <h3>Our comments</h3>
            <p *ngIf="agendaItem.ourComments.length === 0">
              No comments.
            </p>
            <ul class="list-group" *ngIf="agendaItem.ourComments.length > 0">
              <li class="list-group-item" *ngFor="let comment of agendaItem.ourComments">
                {{comment}}
              </li>
            </ul>
          </div>
          <div class="col-md-6" id="other">
            <h3>City Attachments</h3>
            <p *ngIf="agendaItem.cityAttachments.length === 0">
              No links.
            </p>
            <ul class="list-group" *ngIf="agendaItem.cityAttachments.length > 0">
              <li class="list-group-item" *ngFor="let link of agendaItem.cityAttachments">
                <a class="btn btn-link" [href]="link.url">
                  <i class="fa fa-link"></i>
                  {{link.text}}
                </a>
                <p class="mb-0" *ngIf="link.details">
                  <em>
                    {{link.details}}
                  </em>
                </p>
              </li>
            </ul>
            <hr>
            <h3>Our Links</h3>
            <p *ngIf="agendaItem.ourLinks.length === 0">
              No links.
            </p>
            <ul class="list-group" *ngIf="agendaItem.ourLinks.length > 0">
              <li class="list-group-item" *ngFor="let link of agendaItem.ourLinks">
                <a class="btn btn-link" [href]="link.url">
                  <i class="fa fa-link"></i>
                  {{link.text}}
                </a>
                <p class="mb-0" *ngIf="link.details">
                  <em>
                    {{link.details}}
                  </em>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-12" id="footer">
            <hr>
            <p>
              <small>Added On: {{agendaItem.dateAdded}}</small>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
