<div class="bg-brown">
  <div class="row">
    <div class="col-md-12 my-3 text-center">
      <p class="my-0">
        <a
          class="btn btn-link text-white"
          href="https://www.facebook.com/Des-Moines-Peoples-Town-Hall-104767104729564/"
          target="_blank"
        >
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://www.instagram.com/desmoinespeoplestownhall"
          target="_blank"
        >
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://twitter.com/peoplestownhall"
          target="_blank"
        >
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a
          class="btn btn-link text-white"
          href="mailto:dsmpeoplestownhall@gmail.com"
          target="_blank"
        >
          <i class="fa fa-envelope fa-2x"></i>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://linktr.ee/dsmpeoplestownhall"
          target="_blank"
        >
          <i class="fa fa-link fa-2x"></i>
        </a>
      </p>
      <p class="my-0 text-white">
        <a
          class="text-white"
        >
          Des Moines People's Town Hall {{ year }}
        </a>
      </p>
      <!--      <p class="my-0" *ngIf="!isLoggedIn">-->
      <!--        <button class="btn btn-link text-white" (click)="goToLogin()">-->
      <!--          <i class="fa fa-lock"></i>-->
      <!--          Login-->
      <!--        </button>-->
      <!--      </p>-->
    </div>
  </div>
</div>
