<h2 class="text-center">Council Meetings</h2>
<p *ngIf="!ready">
  Loading...
</p>
<ng-container *ngIf="ready">
  <p *ngIf="councilMeetingsForDisplay.length === 0">
    No Council Meetings to show.
  </p>
  <ng-container *ngIf="councilMeetingsForDisplay.length > 0">
    <p>
      Showing {{councilMeetingsForDisplay.length}} Council Meeting(s)...
    </p>
    <div class="row">
      <div class="col-md-12" *ngFor="let councilMeeting of councilMeetingsForDisplay">
        <div class="card border-dark my-2">
          <div class="card-body">
            <h5 class="card-title">
              {{getMonthName(councilMeeting.month)}} {{councilMeeting.day}},
              {{councilMeeting.year}} {{councilMeeting.title}}
            </h5>
            <p *ngIf="councilMeeting.time">
              at {{councilMeeting.time}}
            </p>
            <p *ngIf="councilMeeting.subtitle">
              {{councilMeeting.subtitle}}
            </p>
            <p>
              <a href="{{councilMeeting.url}}" target="_blank" class="btn btn-outline-secondary">
                <i class="fa fa-link"></i>
                Council Meeting Details
              </a>
            </p>
            <ul class="list-group mb-3">
              <li class="list-group-item" *ngFor="let link of councilMeeting.links">
                <a href="{{getLinkHref(link)}}" target="_blank">
                  <i class="fa fa-link"></i>
                  {{getLinkText(link)}}
                </a>
              </li>
            </ul>
          </div>
          <div class="card-footer" *ngIf="manageable">
            <div class="alert alert-info">
              <p><strong>Update Activity</strong></p>
              <p>
                {{councilMeeting.check_message}}
              </p>
              <ng-container *ngIf="!councilMeeting.checked">
                <button class="btn btn-outline-primary btn-block" (click)="checkCouncilMeeting(councilMeeting)">
                  Check
                </button>
                <br>
              </ng-container>
              found: {{councilMeeting.found_date}}
              <br>
              id: {{councilMeeting._id}}
              <br>
              <ul>
                <li *ngFor="let log of councilMeeting.check_message_log">
                  {{log}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

