<h2 class="text-center">News Posts</h2>
<p *ngIf="!ready">
  Loading...
</p>
<ng-container *ngIf="ready">
  <p *ngIf="newsPostsForDisplay.length === 0">
    No News Posts to show.
  </p>
  <ng-container *ngIf="newsPostsForDisplay.length > 0">
    <p>
      Showing {{newsPostsForDisplay.length}} News Post(s)...
    </p>
    <ul class="list-group">
      <ng-container *ngFor="let newsPost of newsPostsForDisplay">
        <li class="list-group-item">
          <h3>
            {{newsPost.heading_title}}
          </h3>
          <p>
            Dated: {{newsPost.heading_date}}
          </p>
          <p>
            <a href="{{newsPost.url}}" target="_blank">
              <i class="fa fa-link"></i>
              {{newsPost.url}}
            </a>
          </p>
          <ng-container *ngIf="manageable">
            <div class="alert alert-info">
              <p>
                {{newsPost.check_message}}
              </p>
              <button class="btn btn-secondary btn-block" (click)="checkNewsPost(newsPost)">
                Check
              </button>
              <br>
              found: {{newsPost.found_date}}
              <br>
              id: {{newsPost._id}}
            </div>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ng-container>

