<h2 class="text-center">News Posts</h2>
<p *ngIf="!ready">
  Loading...
</p>
<ng-container *ngIf="ready">
  <p *ngIf="newsPostsForDisplay.length === 0">
    No News Posts to show.
  </p>
  <ng-container *ngIf="newsPostsForDisplay.length > 0">
    <p>
      This page is showing {{newsPostsForDisplay.length}} News Post(s)...
    </p>
    <div class="row">
      <div class="col-md-12" *ngFor="let newsPost of newsPostsForDisplay">
        <div class="card border-dark my-2">
          <div class="card-body">
            <h5 class="card-title">{{newsPost.heading_title}}</h5>
            <div class="card-text">
              <p>
                Dated: {{newsPost.heading_date}}
              </p>
            </div>
            <a href="{{newsPost.url}}" target="_blank"
               class="btn btn-outline-secondary">
              <i class="fa fa-link"></i>
              Read News Post
            </a>
          </div>
          <div class="card-footer" *ngIf="manageable">
            <div class="alert alert-info">
              <p><strong>Extra Details</strong></p>
              <div id="page-content">
                <ng-container *ngIf="newsPost.page_content">
                  <app-modal-trigger-button [boxId]="'news-post-' + newsPost._id">
                    <i class="fa fa-info mr-2"></i> News Post Content
                  </app-modal-trigger-button>
                  <app-modal-box-basic [boxId]="'news-post-' + newsPost._id" [title]="'News Post Content'">
                    <div [innerHTML]="newsPost.page_content"></div>
                  </app-modal-box-basic>
                </ng-container>
                <p *ngIf="!newsPost.page_content">
                  No content.
                </p>
              </div>
              <hr>
              <p><strong>Update Activity</strong></p>
              <p>
                {{newsPost.check_message}}
              </p>
              <ng-container *ngIf="!newsPost.checked">
                <button
                  class="btn btn-outline-primary btn-block"
                  (click)="checkNewsPost(newsPost)"
                >
                  Check
                </button>
                <br>
              </ng-container>
              found: {{newsPost.found_date}}
              <br>
              id: {{newsPost._id}}
              <br>
              <ul>
                <li *ngFor="let log of newsPost.check_message_log">
                  {{log}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

