<div class="container">
  <ng-container *ngIf="ready; else loading">
    <div class="row">
      <div class="col-md-12 my-3">
        <h1 class="text-center">
          {{modeText}}
          an Agenda Item
        </h1>
        <hr>
      </div>
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col-md-6 mb-1">
              <section id="general-info">
                <h2>1. General Info</h2>
                <app-string-input [(value)]="agendaItem.name" [valueName]="'name'"></app-string-input>
                <app-string-input [(value)]="agendaItem.section" [valueName]="'section'"></app-string-input>
                <app-quill-editor-default #cityTextInput [content]="agendaItem.cityText"
                                          [valueName]="'city-text'"></app-quill-editor-default>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <section id="optional-info">
                <h2>2. Optional Info</h2>
                <app-quill-editor-default #ourTextInput [content]="agendaItem.ourText"
                                          [valueName]="'our-text'"></app-quill-editor-default>
                <app-number-input [(value)]="agendaItem.ourPriority" [valueName]="'our-priority'"></app-number-input>
                <app-string-list-input [(value)]="agendaItem.tags" [valueName]="'tags'"></app-string-list-input>
                <app-string-list-input [(value)]="agendaItem.ourComments" [longDisplay]="true"
                                       [valueName]="'our-comments'"></app-string-list-input>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <section id="advanced-info">
                <h2>3. Links</h2>
                <app-link-list #cityAttachmentsInput [links]="agendaItem.cityAttachments"
                               [valueName]="'city-attachments'"></app-link-list>
                <app-link-list #ourLinksInput [links]="agendaItem.ourLinks" [valueName]="'our-links'"></app-link-list>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <h2>4. Submission</h2>
              <div id="errors" class="alert alert-warning" *ngIf="showErrors && !valid">
                <p>Please correct the following errors:</p>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let error of errors">
                    {{ error }}
                  </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-success btn-block" (click)="submit(false)">
                    <i class="fa fa-save"></i>
                    SUBMIT ONE
                  </button>
                </div>
                <div class="col-md-6" *ngIf="!editMode">
                  <button class="btn btn-success btn-block" (click)="submit(true)">
                    <i class="fa fa-save"></i>
                    SUBMIT ANOTHER
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12">
      <app-loading></app-loading>
    </div>
  </div>
</ng-template>
