<div class="bg-townhall">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3 text-center transparent">
        <h1>Procedural Rules of the City of Des Moines</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3">
        <app-card>
          <p>
            This is general information about the Procedural Rules of the City of Des Moines. This is not official and
            should not be taken as any sort of legal advice. If you need an official copy of the rules, please contact
            the City Clerk, as the rules are not otherwise available (at the time of this page's creation on 09/15/21).
          </p>
          <p>
            The rules are adopted and amended through Resolution action, not Ordinances. Some additional meeting
            guidelines
            are in Section 2-70 of the City Code available here:
            <a class="btn btn-link"
               href="https://library.municode.com/ia/des_moines/codes/code_of_ordinances?nodeId=MUCO_CH2AD_ARTIIICICO_DIV1GE_S2-70ME"
               target="_blank">
              MUNICODE
            </a>
          </p>
          <ul class="list-group">
            <li class="list-group-item border border-dark">
              <h3>Rules Version 16 - Consent Requests Forbidden (Current)</h3>
              <h4>
                Amended on June 28, 2021
              </h4>
              <p class="mb-1">
                Rule Documents:
              </p>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/rules-2021_06_28.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Original PDF
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/rules-2021_06_28.html"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Web Page Transcription
                </a>
              </div>
              <p class="mb-1">
                Amendment Information:
              </p>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20210628.pdf?pdf=Agenda&t=1631685251539"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/CityCouncil/Resolutions/20210628/I.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/citycouncil/rollcalls/2021/21-0944.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
              <p>
                These rules were amended at a Regular Council Meeting on June 28, 2021 in agenda item 1-I.
              </p>
              <p>
                <em>
                  Rule 37. Action on Consent Agenda
                </em>
                was amended as follows:
              </p>
              <ul>
                <li>
                  If members of the public wish to request an item be pulled from the consent agenda, they
                  must send a request to the City Clerk by 3pm the day of the meeting (via email, mail, or other
                  writing).
                </li>
                <li>
                  No such oral requests may be made at the meeting.
                </li>
              </ul>
              <p>
                These rules were put in place at the start of the meeting (around 5pm) and took effective immediately.
                That meant that
                at 5pm, council passed a requirement that anyone wishing to make a request must have made the request
                before 3pm,
                over 2 hours earlier.
              </p>
              <p>
                The vote passed unanimously and no public comment was permitted.
              </p>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 15</h3>
              <h4>
                Amended on
                May 24, 2021
              </h4>
              <p class="mb-1">
                Amendment Information:
              </p>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20210524.pdf?pdf=Agenda&t=1631762508907"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/Resolutions/20210524/39i.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/rollcalls/2021/21-0796.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
              <p>
                <em>Rule 5. Regular Meetings</em> was amended as follows:
              </p>
              <ul>
                <li>
                  The Regular Meeting start time was moved
                  from 4:30pm to 5:00pm.
                </li>
                <li>
                  Council may now use motions to continue, postpone, or cancel various meetings.
                </li>
                <li>
                  Hearings will take place immediately after the conclusion of the Consent Agenda instead of
                  exactly at 5:00pm
                </li>
              </ul>
              <br>
              <p>
                <em>Rule 42. Motions</em> was amended as follows:
              </p>
              <ul>
                <li>
                  Any member of Council may now make a motion to recess or adjourn the meeting at any time and for any
                  reason.
                </li>
              </ul>
              <br>
              <p>
                The vote passed unanimously. The item was on the Consent Agenda, so no public comment was allowed.
              </p>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 14</h3>
              <h4>
                Amended on
                May 10, 2021
              </h4>
              <p class="mb-1">
                Amendment Information:
              </p>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20210510.pdf?pdf=Agenda&t=1631762508907"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/CityCouncil/Resolutions/20210510/I.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/citycouncil/rollcalls/2021/21-0662.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 13</h3>
              <h4>
                Amended on
                November 9, 2020
              </h4>
              <p class="mb-1">
                Amendment Information:
              </p>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20201109.pdf?pdf=Agenda&t=1631762508908"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/Resolutions/20201109/I.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/rollcalls/2020/20-1738.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 12</h3>
              <h4>
                Amended on
                August 17, 2020
              </h4>
              <div class="btn-group mb-2 mt-0" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20200817.pdf?pdf=Agenda&t=1631762508908"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/CityCouncil/Resolutions/20200817/I.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/citycouncil/rollcalls/2020/20-1300.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 11</h3>
              <h4>
                Amended on
                September 23, 2013
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 10</h3>
              <h4>
                Amended on
                May 9, 2005
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 9</h3>
              <h4>
                Amended on
                February 22, 1999
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 8</h3>
              <h4>
                Amended on
                November 16, 1998
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 7</h3>
              <h4>
                Amended on
                January 2, 1996
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 6</h3>
              <h4>
                Amended on
                November 18, 1991
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 5</h3>
              <h4>
                Amended on
                June 26, 1989
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 4</h3>
              <h4>
                Amended on
                April 3, 1989
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 3</h3>
              <h4>
                Amended on
                December 19, 1988
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 2</h3>
              <h4>
                Amended on
                July 6, 1987
              </h4>
            </li>

            <li class="list-group-item border border-info">
              <h3>Rules Version 1</h3>
              <h4>
                Rules adopted on
                June 15, 1987
              </h4>
            </li>

          </ul>
        </app-card>
      </div>
    </div>
  </div>
</div>
