<div class="bg-townhall">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3 text-center transparent">
        <h1>Procedural Rules of the City of Des Moines</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3">
        <app-card>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#current" role="tab" aria-controls="home"
                 aria-selected="true">Current Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#historical" role="tab"
                 aria-controls="profile" aria-selected="false">Historical Rule Changes</a>
            </li>
          </ul>
          <br>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="current" role="tabpanel">
              <section id="current-rules">
                <h2>Current Rules</h2>
                <h4>
                  October 18, 2021 - Present
                </h4>
                <p>
                  The City of Des Moines refuses to make their Procedural Rules for Council Meetings public,
                  so we have transcribed a copy of the rules we obtained and added some additional information.
                  <br>
                  <a class="btn btn-outline-primary btn-lg mt-3"
                     href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/2021_10_18_extended.html"
                     target="_blank">
                    <i class="fa fa-link"></i>
                    View Our Rules Transcription
                  </a>
                </p>
                <p>
                  The transcription was taken from a less-friendly PDF document (provided by the City Clerk in November
                  2021).
                  <br>
                  <a class="btn btn-outline-secondary btn-sm"
                     href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/2021_10_18_official.pdf"
                     target="_blank">
                    <i class="fa fa-link"></i>
                    View Original Rules PDF
                  </a>
                </p>
                <p>
                  The Procedural Rules for city meetings are adopted and amended through Resolution action.
                </p>
                <p>
                  City Code is modified through Ordinances.
                  City Code Section 2.70 applies to meetings as well.
                  The City Code is public, and also contains text about the City citing certain "rule breakers".
                  <br>
                  <a class="btn btn-outline-secondary btn-sm"
                     href="https://library.municode.com/ia/des_moines/codes/code_of_ordinances?nodeId=MUCO_CH2AD_ARTIIICICO_DIV1GE_S2-70ME"
                     target="_blank">
                    <i class="fa fa-link"></i>
                    View DSM City Code via MUNICODE
                  </a>
                </p>
                <p>
                  Disclaimer:
                  This is not official and
                  should not be taken as any sort of legal advice. If you need an official copy of the Procedural Rules,
                  please contact
                  the City Clerk, as these rules are not otherwise available (at the time of this page's creation in
                  November 2021).
                </p>
              </section>
            </div>
            <div class="tab-pane fade show" id="historical" role="tabpanel">
              <section id="historical-rule-changes">
                <div id="historical-rule-changes-header">
                  <h2>Historical Rule Changes</h2>
                  <div class="alert alert-warning">
                    This section is a Work In Progress, come back later for more information.
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="nav flex-column nav-pills" id="vtab" role="tablist">
                      <a class="nav-link active" data-toggle="pill" href="#overview" role="tab">Overview</a>
                      <a class="nav-link" data-toggle="pill" href="#v17" role="tab">V17: 2021-10-18</a>
                      <a class="nav-link" data-toggle="pill" href="#v16" role="tab">V16: 2021-06-28</a>
                      <a class="nav-link" data-toggle="pill" href="#v15" role="tab">V15: 2021-05-24</a>
                      <a class="nav-link" data-toggle="pill" href="#v14" role="tab">V14: 2021-05-10</a>
                      <a class="nav-link" data-toggle="pill" href="#v13" role="tab">V13: 2020-11-09</a>
                      <a class="nav-link" data-toggle="pill" href="#v12" role="tab">V12: 2020-08-17</a>
                      <a class="nav-link" data-toggle="pill" href="#v11" role="tab">V11: 2013-09-23</a>
                      <a class="nav-link" data-toggle="pill" href="#v10" role="tab">V10: 2005-05-09</a>
                      <a class="nav-link" data-toggle="pill" href="#v9" role="tab">V09: 1999-02-22</a>
                      <a class="nav-link" data-toggle="pill" href="#v8" role="tab">V08: 1998-11-16</a>
                      <a class="nav-link" data-toggle="pill" href="#v7" role="tab">V07: 1996-01-02</a>
                      <a class="nav-link" data-toggle="pill" href="#v6" role="tab">V06: 1991-11-18</a>
                      <a class="nav-link" data-toggle="pill" href="#v5" role="tab">V05: 1989-06-26</a>
                      <a class="nav-link" data-toggle="pill" href="#v4" role="tab">V04: 1989-04-03</a>
                      <a class="nav-link" data-toggle="pill" href="#v3" role="tab">V03: 1988-12-19</a>
                      <a class="nav-link" data-toggle="pill" href="#v2" role="tab">V02: 1987-07-06</a>
                      <a class="nav-link" data-toggle="pill" href="#v1" role="tab">V01: 1987-06-15</a>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="tab-content" id="vtabContent">
                      <div class="tab-pane fade show active" id="overview" role="tabpanel">
                        <div id="historical-rule-changes-intro">
                          <p>
                            Over the summer in 2020, as protests happened in the streets, the Des Moines Black
                            Liberation
                            Movement and other organizations
                            started turning people out in mass to
                            Des Moines City Council Meetings. This unprecedented public participation in Council
                            Meetings
                            prompted an unprecedented amount of rule changes as city
                            government tried and failed, repeatedly,
                            to silence Black voices and retaliate against speech critical of the city and DMPD.
                          </p>
                          <p>
                            These rule changes are complicated and petty, so we have attempted to document some of the
                            context
                            behind why the city changed certain rules.
                          </p>
                          <p>
                            We start with the most recent change and work backwards to the original rules. We will
                            continue to
                            update this as council continues to amend the rules.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v17" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            October 18, 2021 - Present
                          </h3>
                          <h4>ZIP Code instead of Address</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/CityCouncil/Resolutions/20211018/i.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/rollcalls/2021/21-1530.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20211018.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 10/18/21 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            <em>
                              Rule 28. Manner of Addressing Council
                            </em>
                            was amended as follows:
                          </p>
                          <ul>
                            <li>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur eum nam
                              necessitatibus odio. Deserunt?
                            </li>
                          </ul>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae enim ipsa nulla quo. A ab
                            blanditiis laboriosam necessitatibus nemo placeat?
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v16" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            June 28, 2021 - Present
                          </h3>
                          <h4>Council Forbids Consent Requests</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/CityCouncil/Resolutions/20210628/I.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/citycouncil/rollcalls/2021/21-0944.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20210628.pdf?pdf=Agenda&t=1631685251539"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 06/28/21 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            <em>
                              Rule 37. Action on Consent Agenda
                            </em>
                            was amended as follows:
                          </p>
                          <ul>
                            <li>
                              If members of the public wish to request an item be pulled from the consent agenda, they
                              must send a request to the City Clerk by 3pm the day of the meeting (via email, mail, or
                              other
                              writing).
                            </li>
                            <li>
                              No such oral requests may be made at the meeting.
                            </li>
                          </ul>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            These rules were amended at a Regular Council Meeting on June 28, 2021 as agenda item 1-I.
                          </p>
                          <p>
                            For over a year, the City had been putting controversial items (mainly regarding DMPD) on
                            the Consent Agenda
                            portion of the meeting, where Public Comment was forbidden. Members of the public could
                            request items be removed, though those requests were rarely considered.
                            With this amendment, the public was no longer allowed to make public requests in meetings
                            to remove Consent Agenda items for discussion.
                          </p>
                          <p>
                            At the previous meeting (the first in-person meeting since COVID) members of the public
                            requested an item be removed regarding a paid trip (~$10,000) to Florida
                            for PERF Training for
                            DMPD Officer Chad Steffen who lied under
                            oath in attempt to prosecute a journalist for covering a BLM protest.
                            Council denied the requests to remove the item and passed it unanimously.
                          </p>
                          <p>
                            These rules were put in place at the start of the meeting (around 5pm) and took effective
                            immediately.
                            That meant that
                            at 5pm, council passed a requirement that anyone wishing to make a request must have made
                            the
                            request
                            before 3pm,
                            over 2 hours earlier.
                          </p>
                          <p>
                            The vote passed unanimously and no public comment was permitted.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v15" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            May 24, 2021 - June 28, 2021
                          </h3>
                          <h4>Changing Start Time and Motions to Recess</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20210524.pdf?pdf=Agenda&t=1631762508907"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 05/24/21 Agenda
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Resolutions/20210524/39i.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/rollcalls/2021/21-0796.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            <em>Rule 5. Regular Meetings</em> was amended as follows:
                          </p>
                          <ul>
                            <li>
                              The Regular Meeting start time was moved
                              from 4:30pm to 5:00pm.
                            </li>
                            <li>
                              Council may now use motions to continue, postpone, or cancel various meetings.
                            </li>
                            <li>
                              Hearings will take place immediately after the conclusion of the Consent Agenda instead of
                              exactly at 5:00pm
                            </li>
                          </ul>
                          <p>
                            <em>Rule 42. Motions</em> was amended as follows:
                          </p>
                          <ul>
                            <li>
                              Any member of Council may now make a motion to recess or adjourn the meeting at any time
                              and
                              for any reason.
                            </li>
                          </ul>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Council expanded their ability to call for a "Recess" of meetings. They have continually
                            attempted to use "Recess" to cancel meetings with anything the Mayor deems disruptive, as
                            they
                            have more legal protection to arrest people in "Recess" since that period is treated
                            differently
                            for Speech laws.
                          </p>
                          <p>
                            In the previous meeting, Public Comment was moved from the start to the end which created an
                            awkward break between the start of the meeting at 4:30pm and the Hearings at 5:00pm. The
                            start
                            time was probably changed to address that.
                          </p>
                          <p>
                            The vote passed unanimously. The item was on the Consent Agenda, so no public comment was
                            allowed.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v14" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            May 10, 2021 - May 24, 2021
                          </h3>
                          <h4>Directly Restricting Public Comment</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/CityCouncil/Resolutions/20210510/I.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/citycouncil/rollcalls/2021/21-0662.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20210510.pdf?pdf=Agenda&t=1631762508907"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 05/10/21 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council amended <em>Rule 16. Citizen Agenda Requests</em> as follows:
                          </p>
                          <ul>
                            <li>
                              Requests to speak cannot be submitted more than ten days before a meeting.
                            </li>
                            <li>
                              Only 20 requests to speak can be put on the agenda.
                            </li>
                            <li>
                              Speaking time is no longer determined by the collective speaking time divided by
                              the number of speakers.
                            </li>
                            <li>
                              Standard time per speaker was lowered from 3 minutes to 2 minutes.
                            </li>
                            <li>
                              Maximum collective speaking time was raised from 30 to 40 minutes.
                            </li>
                            <li>
                              Any speakers who are beyond the 20 speaker limit will roll-over to a future meeting that
                              they
                              did not sign up for.
                            </li>
                            <li>
                              Each speaker can only have one pending speaking request at a time.
                            </li>
                          </ul>
                          <p>
                            Council amended <em>Rule 30. Remarks of Citizens to be Germane</em> as follows:
                          </p>
                          <ul>
                            <li>
                              The presiding officer has ultimate power in determining if a member of the public is being
                              "disruptive".
                            </li>
                            <li>
                              Any "arguing" with the presiding officer about a determination will be considered
                              disruptive. Seemingly, this
                              includes asking why something was considered disruptive or insisting something was not
                              disruptive.
                            </li>
                            <li>
                              Persons who make a single "non-germane remark" will not be recognized by the presiding
                              officer for the
                              rest of the meeting. Previously, this only took applied if a person was "non-germane" on
                              more than one item.
                            </li>
                          </ul>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>???</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v13" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            November 9, 2020 - May 10, 2021
                          </h3>
                          <h4>Mayor & Mayor Pro Tem Restricting Council Requests</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Resolutions/20201109/I.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/rollcalls/2020/20-1738.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20201109.pdf?pdf=Agenda&t=1631762508908"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 11/09/20 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council amended <em>Rule 11. Agenda Deadline</em> as follows:
                          </p>
                          <ul>
                            <li>
                              Items requested by a Council Member must be approved by the Mayor AND the Mayor Pro Tem
                            </li>
                            <li>
                              If the Mayor or Mayor Pro Tem decline, a second request can be made at the next meeting
                            </li>
                            <li>
                              If the item is declined twice, the item is set for the next Work Session or "other
                              disposition as directed by Council".
                            </li>
                          </ul>
                          <p>
                            Council amended <em>Rule 12. Extra Items</em> as follows:
                          </p>
                          <ul>
                            <li>
                              Requirements of <em>Rule 11. Agenda Deadline</em> also apply to Extra Items
                              requests.
                            </li>
                          </ul>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>???</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v12" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            August 17, 2020 - May 10, 2021
                          </h3>
                          <h4>First Public Speaking Limitations</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/CityCouncil/Resolutions/20200817/I.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="http://www.dmgov.org/government/citycouncil/rollcalls/2020/20-1300.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/agendas/ag20200817.pdf?pdf=Agenda&t=1631762508908"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 08/17/20 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            ???
                          </p>
                          <p>
                            The city did not document which rules they changed, so we are missing a lot of the change
                            information.
                          </p>
                          <p>
                            Council amended <em>Rule 16. Citizen Agenda Requests</em>.
                          </p>
                          <p>
                            Council amended <em>Rule 28. Manner of Addressing Council</em>.
                          </p>
                          <p>
                            Council amended <em>Rule 29. Time Limit on Citizen's Remarks</em>.
                          </p>
                          <p>
                            Council amended <em>Rule 30. Remarks of Citizens to be Germane</em>.
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            ???
                          </p>
                          <p>
                            This came shortly after the first major BLM turnout at a (virtual) City Council Meeting.
                            At that meeting, Council discussed ~$100,000 in ammunition DMPD. Public commentors
                            protested and council shut down the virtual meeting to silence the people who spoke up.
                            Council then
                            held a separate meeting a different day to continue the discussion, where the public
                            successfully
                            fillibustered the meeting for around 12 hours.
                          </p>
                        </div>
                      </div>
                      <!-- MODERN PRE-2020 RULES -->
                      <div class="tab-pane fade show" id="v11" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            September 23, 2013 - August 17, 2020
                          </h3>
                          <h4>Waiver for Ordinance Readings</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Resolutions/20130923/22.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Resolution
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/rollcalls/2013/13-1484.pdf"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Roll Call
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Agendas/ag20130923.pdf?pdf=Agenda&t=1631764176235"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 09/23/13 Agenda
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            <em>Rule 42A. Waiver of Ordinance Readings</em> was amended to "more precisely align
                            with Iowa Coda and the practices of the City Council". Essentially, they changed
                            the rules regarding how to skip the second and final readings of ordinances.
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Most context is unknown.
                          </p>
                          <p>
                            This was apparently done to fix an earlier mistake with Council Rules.
                          </p>
                          <p>
                            This was item 22 (roll call 13-1484) on the September 23, 2013 agenda.
                          </p>
                          <p>
                            Vote passed 6-1.
                          </p>
                        </div>
                      </div>
                      <!-- RULES WITH SOME INFO -->
                      <div class="tab-pane fade show" id="v10" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            May 9, 2005 - September 23, 2013
                          </h3>
                          <h4>Non/Pre-Published Dates</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Agendas/AG050905.pdf?pdf=Agenda&t=1631764176241"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View 05/09/05 Agenda
                            </a>
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Minutes/as050905.pdf?pdf=Minutes&t=1631764176241"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Meeting Minutes
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council amended <em>Rule 5. Regular Meetings</em> and <em>Rule 42A. Waiver of Ordinance
                            Readings</em>.
                            Notes from 2013 say that this amendment removed distinction from pre-published and
                            non-pre-published dates.
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Most context is unknown.
                          </p>
                          <p>
                            This was item 58 (roll call 05-1189)on the May 9, 2005 agenda.
                          </p>
                          <p>
                            Vote passed 6-1.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v9" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            February 22, 1999 - May 9, 2005
                          </h3>
                          <h4>Motions by Council Members & Mayor</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Minutes/AS022299.pdf?pdf=Minutes&t=1631764176245"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Meeting Minutes
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council discussed <em>Rule 32. Motion Required</em> and <em>Rule 34. No Motions by Presiding
                            Officer</em> discussed regarding motions by Council Members and the
                            Mayor.
                            Council then eliminated <em>Rule 34. No Motions by Presiding Officer</em>.
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Most context is unknown.
                          </p>
                          <p>
                            This was item 52 (roll call 99-525) on the February 22, 1999 agenda.
                          </p>
                          <p>
                            Vote passed unanimously.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v8" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            November 16, 1998 - February 22, 1999
                          </h3>
                          <h4>Temporary Presiding Officer</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Minutes/AS111698.pdf?pdf=Minutes&t=1631764176246"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Meeting Minutes
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council amended <em>Rule 18. Call to Order</em> to allow a temporary Presiding officer to
                            server as successor
                            Mayor Pro Tem in absence of Mayor and Mayor Pro Tem.
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Most context is unknown.
                          </p>
                          <p>
                            This was item 1I (roll call 98-3477) on the November 16, 1998 agenda.
                          </p>
                          <p>
                            Vote passed 5-2. The item was not on the consent agenda.
                          </p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v7" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            January 2, 1996 - November 16, 1998
                          </h3>
                          <h4>Waiving of Ordinances</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://councildocs.dsm.city/Minutes/as010296.pdf?pdf=Minutes&t=1629433772670"
                               target="_blank">
                              <i class="fa fa-link"></i>
                              View Meeting Minutes
                            </a>
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>
                            Council amended rules "regarding waiving of ordinances".
                          </p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>
                            Most context is unknown.
                          </p>
                          <p>
                            This was item 33 (roll call 96-88) on the January 2, 1996 agenda.
                          </p>
                          <p>
                            Vote passed unanimously. The item was not on the consent agenda.
                          </p>
                        </div>
                      </div>
                      <!-- START LEGACY RULE CHANGES -->
                      <div class="tab-pane fade show" id="v6" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            November 18, 1991 - January 2, 1996
                          </h3>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v5" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            June 26, 1989 - November 18, 1991
                          </h3>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v4" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            April 3, 1989 - June 26, 1989
                          </h3>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v3" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            December 19, 1988 - April 3, 1989
                          </h3>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v2" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            July 6, 1987 - December 19, 1988
                          </h3>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade show" id="v1" role="tabpanel">
                        <div class="amendment-header">
                          <h3>
                            June 15, 1987 - July 6, 1987
                          </h3>
                          <h4>Original Rules Adopted</h4>
                        </div>
                        <div class="amendment-documents">
                          <div class="btn-group mb-2 mt-0" role="group">
                          </div>
                        </div>
                        <div class="amendment-summary">
                          <h5>Summary</h5>
                          <hr>
                          <p>No summary, no record found.</p>
                        </div>
                        <div class="amendment-context">
                          <h5>Context</h5>
                          <hr>
                          <p>Context is unknown.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

        </app-card>
      </div>
    </div>
  </div>
</div>
