<div class="bg-townhall">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3 text-center transparent">
        <h1>Procedural Rules of the City of Des Moines</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-3">
        <app-card>
          <p>
            This is general information about the Procedural Rules of the City of Des Moines. This is not official and
            should not be taken as any sort of legal advice. If you need an official copy of the rules, please contact
            the City Clerk, as the rules are not otherwise available (at the time of this page's creation on 09/15/21).
          </p>
          <ul class="list-group">
            <li class="list-group-item">
              <h3>Current Rules</h3>
              <h4>
                Rules amended on June 28, 2021
                <small class="pull-right">
                  Roll Call No. 21-0944
                </small>
              </h4>
              <div class="btn-group my-2" role="group">
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/2021_06_28/rules-2021_06_28.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Original PDF
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://www.dsmpeoplestownhall.com/assets/dsm_procedural_rules/2021_06_28/rules-2021_06_28.html"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Web Page Transcription
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="https://councildocs.dsm.city/agendas/ag20210628.pdf?pdf=Agenda&t=1631685251539"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Full Agenda
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/CityCouncil/Resolutions/20210628/I.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Resolution for Agenda Item 1-I
                </a>
                <a class="btn btn-outline-secondary btn-sm"
                   href="http://www.dmgov.org/government/citycouncil/rollcalls/2021/21-0944.pdf"
                   target="_blank">
                  <i class="fa fa-link"></i>
                  Roll Call
                </a>
              </div>
              <p>
                These rules were amended at a Regular Council Meeting on June 28, 2021 in agenda item 1-I.
              </p>
              <p>
                <em>
                  Rule 37. Action on Consent Agenda
                </em>
                was amended as follows:
              </p>
              <ul>
                <li>
                  If members of the public wish to request an item be pulled from the consent agenda, they
                  must send a request to the City Clerk by 3pm the day of the meeting (via email, mail, or other
                  writing).
                </li>
                <li>
                  No such oral requests may be made at the meeting.
                </li>
              </ul>
              <p>
                These rules were put in place at the start of the meeting (around 5pm) and took effective immediately.
                That meant that
                at 5pm, council passed a requirement that anyone wishing to make a request must have made the request
                before 3pm,
                over 2 hours earlier.
              </p>
              <p>
                The vote passed unanimously and no public comment was permitted.
              </p>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                May 24, 2021
                <small class="pull-right">
                  Roll Call No. 21-0796
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                May 10, 2021
                <small class="pull-right">
                  Roll Call No. 21-0662
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                November 9, 2020
                <small class="pull-right">
                  Roll Call 20-1738
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                August 17, 2020
                <small class="pull-right">
                  Roll Call 20-1300
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                September 23, 2013
                <small class="pull-right">
                  Roll Call 13-1484
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                May 9, 2005
                <small class="pull-right">
                  Roll Call 05-1189
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                February 22, 1999
                <small class="pull-right">
                  Roll Call 99-525
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                November 16, 1998
                <small class="pull-right">
                  Roll Call 98-3477
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                January 2, 1996
                <small class="pull-right">
                  Roll Call 96-88
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                November 18, 1991
                <small class="pull-right">
                  Roll Call 91-4922
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                June 26, 1989
                <small class="pull-right">
                  Roll Call 89-2786
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                April 3, 1989
                <small class="pull-right">
                  Roll Call 89-1418
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                December 19, 1988
                <small class="pull-right">
                  Roll Call 88-5402
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h4>
                Rules amended on
                July 6, 1987
                <small class="pull-right">
                  Roll Call 87-2935
                </small>
              </h4>
            </li>

            <li class="list-group-item">
              <h3>First Rules</h3>
              <h4>
                Rules adopted on
                June 15, 1987
                <small class="pull-right">
                  Roll Call 87-2608
                </small>
              </h4>
            </li>

          </ul>
        </app-card>
      </div>
    </div>
  </div>
</div>
