<div class="container">
  <div class="row justify-content-center text-center" *ngIf="ready; else loading">
    <div class="col-md-12 mt-3">
      <h1>{{meetingAgenda.name}}</h1>
      <h2 *ngIf="meetingAgenda.subtitle">{{meetingAgenda.subtitle}}</h2>
      <hr>
    </div>
    <div class="col-md-6">
      <h3 class="mt-2">Links</h3>
      <app-link-display [links]="meetingAgenda.links"></app-link-display>
    </div>
    <div class="col-md-6">
      <h3 class="mt-2">Details</h3>
      <p><em>When:</em> {{meetingAgenda.time}}</p>
      <p><em>Where:</em> {{meetingAgenda.place}}</p>
      <p><em>What:</em> {{meetingAgenda.type}}</p>
      <p *ngIf="meetingAgenda.description">{{meetingAgenda.description}}</p>
    </div>
    <div class="col-md-12" *ngIf="meetingAgenda.agendaItems.length > 0">
      <hr>
      <h4>Agenda Items</h4>
      <p class="text-left">
        You can display agenda items in a few different ways. By default, only our highest priority items will be shown.
      </p>
      <div class="row mb-3">
        <div class="col-md-6">
          <app-select-input [valueName]="'Filter'" [(value)]="mode" [options]="filterOptions"></app-select-input>
        </div>
        <div class="col-md-6">
          <br>
          Showing {{sortedAgendaItems.length}} of {{meetingAgenda.agendaItems.length}} agenda items...
        </div>
      </div>
      <p class="text-center" *ngIf="sortedAgendaItems.length === 0">
        No agenda items to show.
      </p>
      <ng-container *ngIf="sortedAgendaItems.length > 0">
        <ng-container *ngFor="let item of sortedAgendaItems">
          <app-card [autoHeight]="false">
            <h4>{{item.name}} <small>{{item.section}} <span *ngIf="isItemOnConsent(item)">- Consent Item</span></small>
            </h4>
            <hr>
            <section *ngIf="item.ourText">
              <h5>Summary</h5>
              <p class="text-left">{{item.ourText}}</p>
              <hr>
            </section>
            <h5>Official Text</h5>
            <p class="text-left">{{item.cityText}}</p>
            <hr>
            <div class="row">
              <div class="col-md-6 mt-2">
                <h5>City Documents</h5>
                <app-link-display [links]="item.cityAttachments"></app-link-display>
              </div>
              <div class="col-md-6 mt-2">
                <h5>Relevant Links</h5>
                <app-link-display [links]="item.ourLinks"></app-link-display>
              </div>
            </div>
          </app-card>
          <br>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
