<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 my-3 text-center transparent">
        <h1>Council Toolkit</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-3">
        <app-card>
          <section id="featured-meetings">
            <h2>Featured Meetings</h2>
            <ul>
              <ng-container *ngIf="!councilMeetingService.ready">
                <li>
                  <app-loading></app-loading>
                </li>
              </ng-container>
              <ng-container *ngIf="councilMeetingService.ready">
                <ng-container *ngIf="!councilMeetingService.hasFeaturedMeetings">
                  <li>No featured meetings are available.</li>
                </ng-container>
                <ng-container *ngIf="councilMeetingService.hasFeaturedMeetings">
                  <ng-container *ngFor="let councilMeeting of councilMeetingService.featuredCouncilMeetings">
                    <li>
                      {{councilMeeting.readableDate}}
                      at
                      {{councilMeeting.time}} |
                      {{councilMeeting.readableType}} |
                      <a [href]="councilMeeting.link">
                        View Notes
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ul>
          </section>
          <section id="resources">
            <h2>Resources</h2>
            <ul>
              <li>
                <a href="#/council-meetings">Full Council Meeting List</a>
              </li>
              <li>
                <a href="#/contacts">Council Contacts</a>
              </li>
              <li>
                <a href="#/view/toolkit~council-glossary">Council Glossary</a>
              </li>
              <li>
                <a href="#/view/rules-archive~current~extended">Council Procedural Rules</a>
              </li>
            </ul>
          </section>
        </app-card>
      </div>
    </div>
  </div>
</div>
