<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 my-3 text-center transparent">
        <h1>Council Toolkit</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-3">
        <app-card>
          <ul>
            <ng-container id="current-meeting-info">
              <ng-container *ngIf="!councilMeetingService.ready">
                <li>
                  <app-loading></app-loading>
                </li>
              </ng-container>
              <ng-container *ngIf="councilMeetingService.ready">
                <ng-container *ngFor="let councilMeeting of councilMeetingService.featuredCouncilMeetings">
                  <li>
                    {{councilMeeting.readableDate}}
                    at
                    {{councilMeeting.time}} |
                    {{councilMeeting.readableType}} |
                    <a [href]="councilMeeting.link">
                      View Notes
                    </a>
                  </li>
                </ng-container>
              </ng-container>
            </ng-container>
            <li>
              <a href="#/view/toolkit~council-glossary">Council Glossary</a>
            </li>
            <li>
              <a href="#/view/rules-archive~current~extended">Council Procedural Rules</a>
            </li>
            <li>
              <a href="#/contacts">Contact Council</a>
            </li>
            <li>
              <a href="#/council-meetings">Council Meeting List</a>
            </li>
          </ul>
        </app-card>
      </div>
    </div>
  </div>
</div>
