<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 my-3 text-center transparent">
        <h1>Council Toolkit</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <app-card>
          <ul>
            <li>
              <a href="#/view/agenda~2021_12_06~WS~overview">12/20/21 Regular Meeting Info</a>
            </li>
            <li>
              <a href="#/view/toolkit~council-glossary">Council Glossary</a>
            </li>
            <li>
              <a href="#/view/rules-archive~current~extended">Council Procedural Rules</a>
            </li>
            <li>
              <a href="#/council-meetings">Council Meeting List</a>
            </li>
            <li>
              <a href="#/contacts">Contact Council</a>
            </li>
          </ul>
        </app-card>
      </div>
    </div>
  </div>
</div>
