<h2 class="text-center">Agenda Versions</h2>
<p *ngIf="!ready">
  Loading...
</p>
<ng-container *ngIf="ready">
  <p *ngIf="agendaVersionsForDisplay.length === 0">
    No Agenda Versions to show.
  </p>
  <ng-container *ngIf="agendaVersionsForDisplay.length > 0">
    <p>
      Showing {{agendaVersionsForDisplay.length}} Agenda Version(s)...
    </p>
    <ul class="list-group">
      <ng-container *ngFor="let agendaVersion of agendaVersionsForDisplay">
        <li class="list-group-item">
          <h3>
            {{agendaVersion.meeting_code}}
            <small>
              Version: {{agendaVersion.version}}
            </small>
          </h3>
          <p>
            Length: {{agendaVersion.plaintext.length}}
          </p>
          <ng-container *ngIf="agendaVersion.plaintext">
            <app-modal-trigger-button [boxId]="'agenda-version-' + agendaVersion._id">
              <i class="fa fa-info mr-2"></i> Agenda Version Content
            </app-modal-trigger-button>
            <app-modal-box-basic [boxId]="'agenda-version-' + agendaVersion._id" [title]="'Agenda Version Content'">
              {{agendaVersion.plaintext}}
            </app-modal-box-basic>
            <br>
          </ng-container>
          <ng-container *ngIf="manageable">
            <div class="alert alert-info">
              <p>
                {{agendaVersion.check_message}}
              </p>
              <button class="btn btn-primary btn-block" (click)="checkAgendaVersion(agendaVersion)">
                Check
              </button>
              <br>
              found: {{agendaVersion.found_date}}
              <br>
              id: {{agendaVersion._id}}
              <br>
              <ul>
                <li *ngFor="let log of agendaVersion.check_message_log">
                  {{log}}
                </li>
              </ul>
            </div>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ng-container>

