<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <ng-container *ngIf="ready; else loading">
        <div class="row mb-3">
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToAllAgendas()">
              <i class="fa fa-arrow-left"></i>
              All Meeting Agendas
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToEditAgenda()">
              <i class="fa fa-pencil"></i>
              Edit
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToAddAgendaItem()">
              <i class="fa fa-plus"></i>
              Add an Agenda Item
            </button>
          </div>
        </div>
        <h1 class="text-center">
          Meeting Agenda: {{meetingAgenda.name}}
        </h1>

        <hr>

        <p class="text-center" *ngIf="meetingAgenda.agendaItems.length === 0">
          No agenda items.
        </p>
        <ng-container *ngIf="meetingAgenda.agendaItems.length > 0">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Details</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agendaItem of meetingAgenda.agendaItems">
              <td>{{agendaItem.name}}</td>
              <td>
                <button class="btn btn-outline-dark btn-small" (click)="goToDetails(agendaItem)">
                  <i class="fa fa-info"></i> Details
                </button>
              </td>
              <td>
                <button class="btn btn-outline-dark btn-small" (click)="goToEdit(agendaItem)">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
              <td>
                <button class="btn btn-outline-dark btn-small" (click)="requestDelete(agendaItem)">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>

        <hr>

        <p>More details coming soon!</p>
        <hr>
        <p>
          <small>Added On: {{meetingAgenda.dateAdded}}</small>
        </p>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
