<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <ng-container *ngIf="ready; else loading">
        <div class="row mb-3">
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToAllAgendas()">
              <i class="fa fa-arrow-left"></i>
              All Meeting Agendas
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToEditAgenda()">
              <i class="fa fa-pencil"></i>
              Edit
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary btn-block" (click)="goToAddAgendaItem()">
              <i class="fa fa-plus"></i>
              Add an Agenda Item
            </button>
          </div>
        </div>
        <h1 class="text-center mb-3">
          {{meetingAgenda.name}}
        </h1>
        <div class="row">
          <div class="col-md-6" id="details">
            <table class="table">
              <tbody>
              <tr>
                <td>Type</td>
                <td>{{meetingAgenda.type}}</td>
              </tr>
              <tr>
                <td>Date And Time</td>
                <td>{{meetingAgenda.time}}</td>
              </tr>
              <tr>
                <td>Place</td>
                <td>{{meetingAgenda.place}}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>
                  <ng-container *ngIf="meetingAgenda.description">
                    <app-modal-trigger-button [boxId]="'description'"><i class="fa fa-info mr-2"></i>Description
                    </app-modal-trigger-button>
                    <app-modal-box-basic [boxId]="'description'" [title]="'Description'">
                      <app-quill-view-default [content]="meetingAgenda.description"></app-quill-view-default>
                    </app-modal-box-basic>
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td>Subtitle</td>
                <td>{{meetingAgenda.subtitle}}</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>
                  <span class="badge badge-info mr-2" *ngFor="let tag of meetingAgenda.tags">
                    {{tag}}
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6" id="other">
            <h3>Highlights</h3>
            <p *ngIf="meetingAgenda.highlights.length === 0">
              No highlights.
            </p>
            <ul class="list-group" *ngIf="meetingAgenda.highlights.length > 0">
              <li class="list-group-item" *ngFor="let highlight of meetingAgenda.highlights">
                {{highlight}}
              </li>
            </ul>
            <hr>
            <h3>Links</h3>
            <app-link-display [links]="meetingAgenda.links"></app-link-display>
          </div>
          <div class="col-md-12" id="items">
            <hr>
            <p class="text-center" *ngIf="meetingAgenda.agendaItems.length === 0">
              No agenda items.
            </p>
            <ng-container *ngIf="meetingAgenda.agendaItems.length > 0">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Section</th>
                  <th>Our Priority</th>
                  <th>Details</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let agendaItem of sortedAgendaItems">
                  <td>{{agendaItem.name}}</td>
                  <td>{{agendaItem.section}}</td>
                  <td>{{agendaItem.ourPriority}}</td>
                  <td>
                    <button class="btn btn-outline-dark btn-small" (click)="goToDetails(agendaItem)">
                      <i class="fa fa-info"></i> Details
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-outline-dark btn-small" (click)="goToEdit(agendaItem)">
                      <i class="fa fa-pencil"></i> Edit
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-outline-dark btn-small" (click)="requestDelete(agendaItem)">
                      <i class="fa fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="col-md-12" id="footer">
            <hr>
            <p>
              <small>Added On: {{meetingAgenda.dateAdded}}</small>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
