<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <ng-container *ngIf="ready; else loading">
        <h1 class="text-center">
          {{modeText}}
          a Meeting Agenda
        </h1>
        <hr>

        <form>
          <section id="general-info">
            <h2>1. General Info</h2>
            <app-string-input [(value)]="meetingAgenda.name" [valueName]="'name'"></app-string-input>
            <app-string-input [(value)]="meetingAgenda.type" [valueName]="'type'"></app-string-input>
            <app-string-input [(value)]="meetingAgenda.time" [valueName]="'time'"></app-string-input>
            <app-string-input [(value)]="meetingAgenda.place" [valueName]="'place'"></app-string-input>
          </section>
          <section id="optional-info">
            <h2>2. Optional Info</h2>
            <app-string-input [(value)]="meetingAgenda.description" [valueName]="'description'"></app-string-input>
            <app-string-input [(value)]="meetingAgenda.subtitle" [valueName]="'subtitle'"></app-string-input>
            <app-string-list-input [(value)]="meetingAgenda.tags" [valueName]="'tags'"></app-string-list-input>
            <app-string-list-input [(value)]="meetingAgenda.highlights"
                                   [valueName]="'highlights'"></app-string-list-input>
          </section>
          <section id="advanced-info">
            <div id="links">
              <h2>3. Links</h2>
              <table class="table" *ngIf="meetingAgenda.links.length > 0">
                <thead>
                <tr>
                  <th>Text</th>
                  <th>URL</th>
                  <th>Description</th>
                  <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let link of meetingAgenda.links; let i = index">
                  <td>
                    <app-string-input [showLabel]="false" [(value)]="link.text"
                                      [valueName]="'link-' + i + '-text'"></app-string-input>
                  </td>
                  <td>
                    <app-string-input [showLabel]="false" [(value)]="link.url"
                                      [valueName]="'link-' + i + '-url'"></app-string-input>
                  </td>
                  <td>
                    <app-string-input [showLabel]="false" [(value)]="link.description"
                                      [valueName]="'link-' + i + '-description'"></app-string-input>
                  </td>
                  <td>
                    <button class="btn btn-outline-secondary" (click)="removeLink(i)">
                      <i class="fa fa-trash"></i>
                      Remove
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-secondary" (click)="addLink()">
                <i class="fa fa-plus"></i>
                Add Link
              </button>
            </div>
          </section>
        </form>

        <hr>
        <section id="errors" class="alert alert-warning" *ngIf="showErrors && !valid">
          <p>Please correct the following errors:</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let error of errors">
              {{ error }}
            </li>
          </ul>
        </section>
        <button class="btn btn-success btn-block" (click)="submit()">
          <i class="fa fa-save"></i>
          SUBMIT
        </button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
