<div class="container">
  <ng-container *ngIf="ready; else loading">
    <div class="row">
      <div class="col-md-12 my-3">
        <h1 class="text-center">
          {{modeText}}
          a Meeting Agenda
        </h1>
        <hr>
      </div>
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col-md-6 mb-1">
              <section id="general-info">
                <h2>1. General Info</h2>
                <app-string-input [(value)]="meetingAgenda.name" [valueName]="'name'"></app-string-input>
                <app-string-input [(value)]="meetingAgenda.type" [valueName]="'type'"></app-string-input>
                <app-string-input [(value)]="meetingAgenda.time" [valueName]="'date-and-time'"></app-string-input>
                <app-string-input [(value)]="meetingAgenda.place" [valueName]="'place'"></app-string-input>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <section id="optional-info">
                <h2>2. Optional Info</h2>
                <app-quill-editor-default #descriptionInput [content]="meetingAgenda.description"
                                          [valueName]="'description'"></app-quill-editor-default>
                <app-string-input [(value)]="meetingAgenda.subtitle" [valueName]="'subtitle'"></app-string-input>
                <div class="row">
                  <div class="col-md-6">
                    <app-number-input [min]="1" [max]="200" [(value)]="meetingAgenda.consentStart"
                                      [valueName]="'consent-start'"></app-number-input>
                  </div>
                  <div class="col-md-6">
                    <app-number-input [min]="1" [max]="200" [(value)]="meetingAgenda.consentEnd"
                                      [valueName]="'consent-end'"></app-number-input>
                  </div>
                </div>
                <app-string-list-input [(value)]="meetingAgenda.tags" [valueName]="'tags'"></app-string-list-input>
                <app-string-list-input [(value)]="meetingAgenda.highlights" [longDisplay]="true"
                                       [valueName]="'highlights'"></app-string-list-input>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <section id="advanced-info">
                <h2>3. Links</h2>
                <app-link-list #linkInput [valueName]="'meeting-links'" [links]="meetingAgenda.links"></app-link-list>
              </section>
            </div>
            <div class="col-md-6 mb-1">
              <section id="submission">
                <h2>4. Submission</h2>
                <div id="errors" class="alert alert-warning" *ngIf="showErrors && !valid">
                  <p>Please correct the following errors:</p>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let error of errors">
                      {{ error }}
                    </li>
                  </ul>
                </div>
                <button class="btn btn-success btn-block" (click)="submit()">
                  <i class="fa fa-save"></i>
                  SUBMIT
                </button>
              </section>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12">
      <app-loading></app-loading>
    </div>
  </div>
</ng-template>
