<div class="container">
  <div class="row my-3">
    <div class="col-md-6">
      <h1>The People's Gazette</h1>
      <p>
        Our newsletters:
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="assets/newsletter/peoples_gazette_february_2022.pdf" target="_blank">
            People's Gazette: February 2022
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="assets/newsletter/announcing_peoples_gazette.png"
           id="announcing"
           alt="Des Moines Peoples Town Hall Presents: Peoples Gazette. Collective Voices Owning Our Narrative. DSMPEOPLESTOWNHALL.COM">
    </div>
  </div>
</div>
