<div class="container">
  <div class="row my-4 justify-content-center">
    <div class="col-md-12 text-center">
      <h1>Mail To: Cops Off Consent</h1>
      <hr>
    </div>

    <div class="col-md-6 my-3">
      <p>Send an email to City Officials.</p>
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <input class="form-control" type="text" id="name" [(ngModel)]="name"/>
      </div>
      <div class="form-group">
        <label for="personalNote" class="font-weight-bold">Personal Note (optional, will be added to the top)</label>
        <input class="form-control" type="text" id="personalNote" [(ngModel)]="personalNote"/>
      </div>
      <hr>
      <ng-container *ngIf="allSet">
        <a class="btn btn-primary btn-block" [href]="mailto" target="_blank">
          <i class="fa fa-envelope"></i>
          Use Mailto
        </a>
      </ng-container>
      <ng-container *ngIf="!allSet">
        <div class="alert alert-danger">You cannot send without a NAME.</div>
      </ng-container>
    </div>

    <div class="col-md-6 my-3">
      <h2>Sample</h2>
      <hr>
      <p>
        <strong>TO:</strong>
        {{toDisplay}}
      </p>
      <p>
        <strong>CC:</strong>
        {{cc}}
      </p>
      <p>
        <strong>BCC:</strong>
        {{bcc}}
      </p>
      <p>
        <strong>SUBJECT:</strong>
        {{subject}}
      </p>
      <p>
        <strong>BODY:</strong>
      </p>
      <div [innerHTML]="body">
      </div>
    </div>

  </div>
</div>
