<div class="container">
  <div class="row my-4 justify-content-center" *ngIf="!open">
    <div class="col-md-12">
      <div class="alert alert-info">No Mailer is available currently!</div>
    </div>
  </div>
  <div *ngIf="open"
       class="row my-4 justify-content-center">
    <div class="col-md-12">
      <h1 class="text-center">Mail To: Cops Off Consent</h1>

      <div class="alert alert-info">
        This request is in direction violation of
        <a href="https://dsm-procedural-rules-archive.netlify.app/#/view/rules-archive~2022_01_24~transcription"
           target="_blank">City Rule #37</a>, because 1/24/22 Council passed a rule that
        <em>Members of the public may not request to remove any consent item</em>.

        We do not believe council has the authority to ban members of
        the public from contacting the City Clerk and other City Staff about City Business.

        This rule will not stop us from contacting council about the blatant misuse of their Consent Agenda
        to pass controversial items police funding without public discussion.
        You can join us in contacting the city if you're comfortable violating
        the city's insulting procedural rules.
      </div>

      <p>
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-info-circle"></i>
          More about the Consent Agenda
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p>
            For years, the Des Moines City Council has been putting controversial items such as police funding
            on the "Consent Agenda" for
            their meetings, compiled by the City Clerk,
            a part of the meeting where public comments are not allowed and that council does not discuss,
            in direct violation of their own meeting protocols. In most cities, members of the public
            can request to speak on these items if they have something to say, though council can deny requests.
          </p>
          <p>
            In a bizarre and hostile move, after many meetings of contested Consent Agenda items, Des Moines City Council
            passed a rule that states <em>Members of the public may not request to remove any consent item</em>.
            This means even <em>requesting</em> to remove consent items to speak on them,
            in email or any form,
            is a violation of city rules.
          </p>
          <p>
            There is an exception where lobbying council members to remove items is allowed, but this is
            a ridiculous and insulting exception. We do not believe council has the authority to ban members of
            the public from contacting the City Clerk and other City Staff about City Business.
          </p>
          <p>
            You can view the current rules
            <a href="https://dsm-procedural-rules-archive.netlify.app/#/view/rules-archive~2022_01_24~transcription"
               target="_blank">HERE</a>.
            The relevant rules are 9 and 37.
          </p>
        </div>
      </div>

      <hr>
    </div>

    <div class="col-md-6 my-3">
      <p>Send an email to City Officials.</p>
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <input class="form-control" type="text" id="name" [(ngModel)]="name"/>
      </div>
      <div class="form-group">
        <label for="personalNote" class="font-weight-bold">Personal Note (optional, will be added to the top)</label>
        <input class="form-control" type="text" id="personalNote" [(ngModel)]="personalNote"/>
      </div>
      <hr>
      <ng-container *ngIf="allSet">
        <a class="btn btn-primary btn-block" [href]="mailto" target="_blank">
          <i class="fa fa-envelope"></i>
          Use Mailto
        </a>
      </ng-container>
      <ng-container *ngIf="!allSet">
        <div class="alert alert-danger">You cannot send without a NAME.</div>
      </ng-container>
    </div>

    <div class="col-md-6 my-3">
      <h2>Sample</h2>
      <hr>
      <p>
        <strong>TO:</strong>
        {{toDisplay}}
      </p>
      <p>
        <strong>CC:</strong>
        {{cc}}
      </p>
      <p>
        <strong>BCC:</strong>
        {{bcc}}
      </p>
      <p>
        <strong>SUBJECT:</strong>
        {{subject}}
      </p>
      <p>
        <strong>BODY:</strong>
      </p>
      <div [innerHTML]="body">
      </div>
    </div>

  </div>
</div>
