<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 my-3 text-center transparent">
        <h1>Council Meetings</h1>
      </div>
      <div class="col-md-10 my-3">
        <app-card>
          <p>
            <a href="#/council-toolkit">Council Toolkit</a>
          </p>
          <ng-container *ngIf="!councilMeetingService.ready">
            <app-loading></app-loading>
          </ng-container>
          <ng-container *ngIf="councilMeetingService.ready">
            <ng-container *ngFor="let year of meetingsByYear">
              <ng-container *ngIf="year.councilMeetings.length > 0">
                <hr>
                <h2>{{year.year}} Meetings</h2>
                <ul>
                  <ng-container *ngFor="let councilMeeting of year.councilMeetings">
                    <li>
                      <span [class.font-weight-bold]="councilMeeting.featured">
                      {{councilMeeting.readableDate}}
                        at
                        {{councilMeeting.time}}
                        |
                        {{councilMeeting.readableType}}
                        <span *ngIf="councilMeeting.subtitle">
                        : {{councilMeeting.subtitle}}
                      </span>
                      |
                      <a [href]="councilMeeting.link">
                        View Notes
                      </a>
                      </span>
                    </li>
                  </ng-container>
                </ul>
              </ng-container>
            </ng-container>
          </ng-container>
        </app-card>
      </div>
    </div>
  </div>
</div>
