<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 my-3 text-center transparent">
        <h1>Council Meetings</h1>
      </div>
      <div class="col-md-10 my-3">
        <app-card>
          <ng-container *ngIf="!councilMeetingService.ready">
            <app-loading></app-loading>
          </ng-container>
          <ng-container *ngIf="councilMeetingService.ready">
            <ng-container *ngFor="let year of councilMeetingService.councilMeetingsByYear">
              <h2>{{year.year}} Meetings</h2>
              <ul>
                <ng-container *ngFor="let councilMeeting of year.councilMeetings">
                  <li>
                    {{councilMeeting.readableDate}}
                    at
                    {{councilMeeting.time}} |
                    {{councilMeeting.readableType}} |
                    <a [href]="councilMeeting.link">
                      View Notes
                    </a>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
          </ng-container>
        </app-card>
      </div>
    </div>
  </div>
</div>
