<div class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contact List</h1>
      </div>
    </div>
  </div>
</div>

<div class="bg-backup">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <app-card>
          <p>
            Coming soon...
          </p>
          <p>
            <a class="btn btn-primary" [href]="linkService.councilInfo" target="_blank">
              <i class="fa fa-link"></i>
              City Contact Info Page
            </a>
          </p>
        </app-card>
      </div>
    </div>
  </div>
</div>
