<div class="bg-townhall">
  <div class="container">
    <ng-container *ngIf="ready && !error; else backup">
      <div class="row">
        <div class="col-md-12 my-3 text-center transparent">
          <h1>{{doc.name}}</h1>
          <h2 *ngIf="doc.date">{{doc.date}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3">
          <app-card>
            <p>
              <a class="btn btn-outline-primary" [href]="href" target="_blank">
                <i class="fa fa-link"></i>
                Open the document
              </a>
            </p>
            <p>
              {{doc.description}}
            </p>
            <iframe class="d-none d-md-block d-lg-none"
                    height="700"
                    width="500"
                    [src]="src">
            </iframe>
            <iframe class="d-none d-lg-block"
                    height="1000"
                    width="750"
                    [src]="src">
            </iframe>
          </app-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #backup>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-card>
        <ng-container *ngIf="error">
          <h1>Oops!</h1>
          <p>
            Something went wrong, we couldn't find what you're looking for.
          </p>
        </ng-container>
        <ng-container *ngIf="!ready">
          <app-loading></app-loading>
        </ng-container>
      </app-card>
    </div>
  </div>
</ng-template>
