@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  overflow-x: hidden;
  background: black;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.hover {
  background-color: #cfeaea;
  border: 3px solid black;
}

.hover:hover {
  background-color: #d6cfcf;
}

.bg-townhall {
  background-image: url("assets/townhall-page.jpg");
  background-repeat: repeat-y;
  background-position: 0px -800px;
}

.transparent {
  background: rgba(198, 192, 192, 0.9);
}

a, a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
