<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="ready; else loading">
        <div class="my-3">
          <section id="agenda-extensions" *ngIf="isAgenda">
            <p>
              Agenda Options |
              <ng-container *ngIf="hasAgendaNotesUrl">
                <a href="{{agendaNotesUrl}}">Meeting Notes</a>
                |
              </ng-container>
              <a href="#/council-toolkit">Council Toolkit</a>
              |
              <a href="#/council-meetings">Other Council Meetings</a>
            </p>
            <hr>
          </section>
          <markdown [src]="fullPath"></markdown>
          <section id="file-options">
            <hr>
            <p>
              <a [attr.href]="fullPath" target="_blank">
                View Raw Text (in Markdown Format)
              </a>
              <!--                TODO more viewing options -->
              <!--                | View Raw HTML | Export as PDF | Export as MD | Export as HTML | Export as EPUB-->
            </p>
          </section>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
