<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <h1 class="text-center">Meeting Agenda Management</h1>
      <button class="btn btn-success btn-block" (click)="goToAddAgenda()">
        <i class="fa fa-plus"></i>
        Add a Meeting Agenda
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="ready; else loading">
        <p class="text-center" *ngIf="meetingAgendas.length === 0">
          No meeting agendas.
        </p>
        <ng-container *ngIf="meetingAgendas.length > 0">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Details</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meetingAgenda of meetingAgendas">
              <td>{{meetingAgenda.name}}</td>
              <td>
                <button class="btn btn-outline-dark btn-small" disabled>
                  <i class="fa fa-info"></i> Details
                </button>
              </td>
              <td>
                <button class="btn btn-outline-dark btn-small" (click)="goToEdit(meetingAgenda)">
                  <i class="fa fa-pencil"></i> Edit
                </button>
              </td>
              <td>
                <button class="btn btn-outline-dark btn-small" disabled>
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
