<div class="bg-townhall">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 my-3 text-center transparent">
        <h1>Agendas</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 my-3">
        <app-card>
          <p>
            This is a collection of our Agenda Overviews.
          </p>
          <ul class="list-group">
            <li class="list-group-item hover" *ngFor="let agenda of meetingAgendas" (click)="goToAgenda(agenda)">
              {{agenda.name}}
              <i class="fa fa-arrow-right pull-right"></i>
            </li>
          </ul>
        </app-card>
      </div>
    </div>
  </div>
</div>
