<h2 class="text-center">Calendar Events</h2>
<p *ngIf="!ready">
  Loading...
</p>
<ng-container *ngIf="ready">
  <p *ngIf="calendarEventsForDisplay.length === 0">
    No Calendar Events to show.
  </p>
  <ng-container *ngIf="calendarEventsForDisplay.length > 0">
    <p>
      Showing {{calendarEventsForDisplay.length}} Calendar Event(s)...
    </p>
    <div class="col-md-12" *ngFor="let calendarEvent of calendarEventsForDisplay">
      <div class="card border-dark my-2">
        <div class="card-body">
          <h5 class="card-title">
            {{calendarEvent.name}}
          </h5>
          <div class="card-text">
            <p>
              {{getMonthName(calendarEvent.month)}} {{calendarEvent.day}}, {{calendarEvent.year}}
              at {{calendarEvent.time}} ({{calendarEvent.duration}})
            </p>
            <p *ngIf="calendarEvent.is_notable">
              <strong>
                This event is notable.
              </strong>
            </p>

            <p>
              Contact:
              {{calendarEvent.contact_name}}
              {{calendarEvent.contact_email}}
              {{calendarEvent.contact_phone}}
            </p>

            <div id="page-content">
              <ng-container *ngIf="calendarEvent.detail">
                <app-modal-trigger-button [boxId]="'calendar-event-' + calendarEvent._id">
                  <i class="fa fa-info mr-2"></i> Event Details
                </app-modal-trigger-button>
                <app-modal-box-basic [boxId]="'calendar-event-' + calendarEvent._id" [title]="'Calendar Event Content'">
                  <div [innerHTML]="calendarEvent.detail"></div>
                </app-modal-box-basic>
              </ng-container>
              <p *ngIf="!calendarEvent.detail">
                No detail.
              </p>
            </div>

          </div>
        </div>
        <div class="card-footer">
          <ng-container *ngIf="manageable">
            <div class="alert alert-info">
              <p><strong>Update Activity</strong></p>
              <p>
                {{calendarEvent.check_message}}
              </p>
              <ng-container *ngIf="!calendarEvent.checked">
                <button
                  class="btn btn-outline-primary btn-block"
                  (click)="checkCalendarEvent(calendarEvent)">
                  Check
                </button>
                <br>
              </ng-container>
              found: {{calendarEvent.found_date}}
              <br>
              id: {{calendarEvent._id}}
              <br>
              <ul>
                <li *ngFor="let log of calendarEvent.check_message_log">
                  {{log}}
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

